html {
  background-image: url("/src/image/steinanordnung.jpg");
  background-size: cover;
  font-family: "Roboto";
}

h1 {
  text-align: center;
}

.links {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

img {
  padding: 2%;
  max-width: min-content;
  height: min-content;
  max-height: 50vh;
  margin: auto;
}
